extends default

block content
  div.container

  div.workspace
    form()
      input#origins(placeholder = "Start-Address")
      input#destination(placeholder = "Destination-Address")
      button Calculate
    label(for="car") Car Make
    select#car(name="Car Make") 
      option(value="Impala") Impala 
      option(value="Honda") Honda 
      option(value="Ford") Ford 
      option(value="BMW") BMW 

    p#message-1
    p#message-2

  script(src="/js/app.js") 
  //- label(for="origin") Start-Address 
  //- input(type="text" id = "origin" name="origin" required=true)
  //- label(for="destination") Destination-Address 
  //- input(type="text" id="destination" name="destination")
